{{ define "main" }}
{{- partial "content/breadcrumb.html" . -}}

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-14">

  <article class="md:col-span-2 prose lg:prose-lg">

    <header class="not-prose">
      
      <h1 id="title" class="text-4xl font-bold leading-normal">{{ .Title }}</h1>

      <div id="lead" class="my-6">

        <p class="font-bold">{{ .Params.description }} </p>

      </div>
      
      <div id="writer" class="flex items-center space-x-4">

        {{- $name := .Site.Params.author.name -}}

        {{- with .Site.Params.author.avatar }}
          {{- with $avatar := resources.Get . }}
            <img class="w-12 h-12 bg-black rounded-full" src="{{ $avatar.Permalink }}" alt="{{ $name }} avatar" width="{{ $avatar.Width }}" height="{{ $avatar.Height }}">
          {{- end }}
        {{- end }}
        
        <ul class="flex items-center space-x-4 flex-nowrap whitespace-nowrap overflow-x-auto">
          
          <li class="font-semibold my-2">{{ .Site.Params.author.name }}</li>
          
          <li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
            {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
            {{- $dateHuman := .Date | time.Format ":date_long" -}}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          </li>

          <li class="before:content-['•'] before:mr-2 before:opacity-50 my-2">
            {{ .ReadingTime }} min read
          </li>

        </ul>

      </div>
      
    </header>

    <figure id="featureimage" class="rounded-xl aspect-video">
      {{- $image := .Params.image -}}
      {{- if not $image -}}
        {{- $image = "images/blog/default-feature-image.webp" -}}
      {{- end -}}
      {{- if (strings.HasPrefix $image "http") -}}
        <img class="rounded-lg" src="{{ $image }}" alt="{{ .Params.title }}">
      {{- else -}}
        {{- with $processedImage := resources.Get $image -}}
          {{- $processedImage = $processedImage.Resize "750x" -}}
          <img class="rounded-lg" src="{{ $processedImage.Permalink }}" alt="{{ .Params.title }}" width="{{ $processedImage.Width }}" height="{{ $processedImage.Height }}">
        {{- else -}}
          {{- $staticImage := printf "/" | printf "%s%s" $image | absURL -}}
          <img class="rounded-lg" src="{{ $staticImage }}" alt="{{ .Params.title }}">
        {{- end -}}
      {{- end -}}
      {{- if ( isset .Params "caption" ) }}
        <figcaption class="text-center italic text-xs">{{ .Params.caption }}</figcaption>
      {{- end }}
    </figure>

    <div id="content" class="mb-14">
      <!-- Content -->

      {{- .Content -}}

      <!-- Tags list -->

      {{- partial "terms.html" (dict "taxonomy" "tags" "page" .) -}}

    </div>

    <footer id="content-footer" class="not-prose">


      
  <!--     <div id="comment" class="border p-8 bg-zinc-100 rounded-2xl">

        <h2 class="text-xl font-semibold">Comment</h2>

        <p>Disqus comment here</p>

        {{- /* template "_internal/disqus.html" . */ -}}

      </div> -->
      

      <div id="author-box" class="my-8 md:my-14 border p-8 bg-zinc-100 rounded-2xl">

        {{- with .Site.Params.author.avatar }}
          {{- with $avatar := resources.Get . }}
        <img class="w-20 h-20 rounded-full" src="{{ $avatar.Permalink }}" alt="{{ $.Site.Params.author.name }}">
          {{- end }}
        {{- end }}

        <h2 class="text-xl font-bold my-4">Autor: {{ .Site.Params.author.name }}</h2>

        <p class="mb-4">{{ .Site.Params.author.bio }}</p>

        <ul class="flex flex-wrap space-x-4">
        {{- range site.Params.socialIcons }}
          <li>
            <a class="flex items-center decoration-auto hover:underline" href="{{ .url }}" target="_blank" rel="noopener">
              <span class="ml-2">{{ .name | title }}</span>
            </a>
          </li>
        {{- end }}
        </ul>
        
      </div>

      <div id="related-post" class="">

        <h2 class="text-xl md:text-2xl font-bold mb-6 md:mb-8">Für dich empfohlen</h2>

        {{- $related := .Site.RegularPages.Related . | first 2 -}}

        {{- with $related -}}

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

          {{- range . }}

          {{- partial "content/card.html" . -}}

          {{- end }}
          
        </div>

        {{- end }}
      </div>

    </footer>

  </article>

  <!-- Aside -->
  <aside class="md:col-span-1">

    {{- partial "content/aside.html" . -}}
    
  </aside>

</div>
  
{{ end }}
